<div *ngIf="!lodaing">

  <div class=" border-0 shadow mb-4 mt-3 d-flex row justify-content-between text-center">

    <div class="card text-white bg-primary mb-3 col-md-3 col-sm-1" style="max-width: 18rem;">

      <div class="card-body">
        <h5 class="card-title">Order Shipped</h5>
        <p class="card-text display-1">{{shipped}}</p>
      </div>
    </div>

    <div class="card text-white bg-success mb-3 col-md-3 col-sm-1" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Order Deliverd</h5>
        <p class="card-text display-1">{{deliverd}}</p>
      </div>
    </div>

    <div class="card text-white bg-danger mb-3 col-md-3 col-sm-1" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Order Cancelled</h5>
        <p class="card-text display-1">{{cancelled}}</p>
      </div>
    </div>

    <div class="card text-dark bg-warning mb-3 col-md-3 col-sm-1" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Order Pending</h5>
        <p class="card-text display-1">{{pending}}</p>
      </div>
    </div>

  </div>



  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Timestamp</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order._id }}</td>
          <td>{{ order.products[0].name.en }}</td>
          <td>{{ order.products[0].priceAfter }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.parentOrder.status }}</td>
          <td>{{ order.timestamp | date }}</td>
          <td>
            <button class="btn btn-success" (click)="confirmOrder(order._id)">Confirm</button>
            <button class="btn btn-danger" (click)="cancelOrder(order._id)">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>






</div>

<div class="text-center w-100" style="margin-top: 10%;" *ngIf="lodaing">
  <app-spinner></app-spinner>
</div>